body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 400px;
    background: white;
    padding: 50px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


.col {
    flex: 1;
}

/* Mobile responsive */
@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
